services:
  node-exporter:
    image: quay.io/prometheus/node-exporter:v1.8.2
    container_name: node-exporter
    restart: unless-stopped
    pid: host
    network_mode: host
    command:
      - --path.rootfs=/
      - --collector.filesystem.mount-points-exclude=^/(proc|sys|var/lib/docker/.+|run)($|/)
      - --collector.filesystem.fs-types-exclude=^(autofs|binfmt_misc|cgroup2?|debugfs|devpts|devtmpfs|fuse.*|hugetlbfs|mqueue|overlay|proc|pstore|rpc_pipefs|securityfs|sysfs|tracefs)$
    volumes:
      - /:/rootfs:ro
      - /proc:/proc:ro
      - /sys:/sys:ro
